<h4 class="text-center">Regístrate y muestra al mundo tu gato</h4>

<form [formGroup]="nuevoUsuarioForm" (submit)="registrar()">
  <div class="mb-2">
    <input
    type="email"
    class="form-control"
    placeholder="Correo electrónico"
    formControlName="email"
    />
    <app-message
    *ngIf="nuevoUsuarioForm.get('email')?.errors?.['required'] && nuevoUsuarioForm.get('email')?.['touched']"
    mensaje="Email requerido"
    ></app-message>
    <app-message *ngIf="nuevoUsuarioForm.get('email')?.errors?.['email'] && nuevoUsuarioForm.get('email')?.['touched']"
    mensaje="Formato invalido"></app-message>
  </div>
  <div class="mb-2">
    <input
    type="text"
    class="form-control"
    placeholder="Nombre completo"
    formControlName="fullName"
    />
    <app-message *ngIf="nuevoUsuarioForm.get('fullName')?.errors?.['required'] && nuevoUsuarioForm.get('fullName')?.['touched']"
    mensaje="Nombre completo requerido"></app-message>
    <app-message *ngIf="nuevoUsuarioForm.get('fullName')?.errors && nuevoUsuarioForm.get('fullName')?.['touched']"
    mensaje="Deben ser al menos 4 letras"></app-message>
  </div>
  <div class="mb-2">
    <input
    type="text"
    class="form-control"
    placeholder="Usuario"
    formControlName="userName"
    />
    <app-message *ngIf="nuevoUsuarioForm.get('userName')?.errors?.['minuscula'] && nuevoUsuarioForm.get('userName')?.['touched']"
    mensaje="El usuario debe ser en minusculas"></app-message>
    <app-message *ngIf="nuevoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
    mensaje="El usuario ya existe"></app-message>
  </div>
  <div class="mb-2">
    <input
    type="text"
    class="form-control"
    placeholder="Contraseña"
    formControlName="password"
    />
    <app-message *ngIf="nuevoUsuarioForm?.errors"
    mensaje="El usuario y la contraseña no pueden ser iguales"
    ></app-message>
  </div>
  <div class="d-grid gap-2 col-12 mx-auto">
    <button class="btn btn-primary btn-block">Registrarse</button>
  </div>
</form>

<p>Ya tienes una cuenta? <a [routerLink]="['']">Accede</a></p>
